In [2]:
import pandas as pd
import numpy as np

In [3]:
mimi = pd.DataFrame(np.random.rand(10, 5), index = np.arange(1, 11))

In [4]:
mimi.columns = list("ABCDE")

In [ ]:
mimi

In [6]:
mirani = mimi.copy()

In [ ]:
mirani

In [ ]:
mirani["A"][1] = "Mirani Gita"

In [ ]:
mirani["B"][1] = "Shaheer Jamal"

In [10]:
shaheer = pd.DataFrame(np.random.rand(10, 5), index = np.arange(1, 11))

In [11]:
shaheer.columns = list("ABCDE")

In [12]:
pakistan = shaheer

In [ ]:
pakistan["A"][1] = 0.15418

In [ ]:
shaheer

In [15]:
#There are two ways to change any cell's value: 
#1. Change the cell's value directly: shaheer["A"][0] = "Pakistan"
#2. Change the cell's value using the loc's function: shaheer.loc["A", 0] = "Pakistan"
shaheer.loc[1, "A"] = 0.895745

In [16]:
#If any column or row doesnt exist, and you give the parameters for those row or coulumn, loc will create them and fill the values in them as per the given command

In [ ]:
#How to drop any column
# 0 means rows
# 1 means columns

# shaheer = shaheer.drop(1, axis=1)
# shaheer = shaheer.drop("B", axis=0)

shaheer

In [ ]:
shaheer.loc[[10, 6], ["A", "C"]]

In [ ]:
shaheer.loc[[4], :]

In [ ]:
shaheer.loc[:, ["B"]]

In [ ]:
# shaheer.loc[(shaheer["A"] < 0.3) & (shaheer["C"] > 0.1)]
shaheer.loc[(shaheer["A"] < 0.3) & (shaheer["E"] > 0.5)]

In [ ]:
shaheer.loc[(shaheer["B"] > 0.35) & (shaheer["E"] < 0.35)]

In [ ]:
shaheer.iloc[0, 3]

In [ ]:
shaheer.iloc[[0, 2], [2, 4]]

In [25]:
#Heres how you can reset the index:
#shaheer.reset_index(drop=True, inplace=True)

In [ ]:
shaheer.shape

In [ ]:
# shaheer.notna() shaheer.isna()

In [45]:
shaheer

           A         B         C         D         E
1   0.895745  0.614866  0.820657  0.552882  0.812316
2   0.361270  0.269657  0.136669  0.032845  0.747595
3   0.396266  0.245760  0.947379  0.171146  0.422996
4   0.178873  0.363135  0.431558  0.602976  0.364753
5   0.030454  0.591502  0.958410  0.116827  0.761944
6   0.167191  0.523594  0.138191  0.285573  0.892595
7   0.136469  0.502285  0.719341  0.581482  0.718230
8   0.976812  0.235775  0.009150  0.629752  0.131882
9   0.693192  0.849656  0.380517  0.252801  0.564161
10  0.192377  0.260860  0.371716  0.985556  0.224815

In [87]:
abc = shaheer.replace(0.895745, "Indonesia")

In [88]:
abc

            A         B         C         D         E
1   Indonesia  0.614866  0.820657  0.552882  0.812316
2     0.36127  0.269657  0.136669  0.032845  0.747595
3    0.396266  0.245760  0.947379  0.171146  0.422996
4    0.178873  0.363135  0.431558  0.602976  0.364753
5    0.030454  0.591502  0.958410  0.116827  0.761944
6    0.167191  0.523594  0.138191  0.285573  0.892595
7    0.136469  0.502285  0.719341  0.581482  0.718230
8    0.976812  0.235775  0.009150  0.629752  0.131882
9    0.693192  0.849656  0.380517  0.252801  0.564161
10   0.192377  0.260860  0.371716  0.985556  0.224815

In [39]:
# shaheer.at[5, "A"]
shaheer.iat[8, 3]

np.float64(0.25280072666059616)