In [1]:
import numpy as np
import pandas as pd

In [3]:
#Dictionary is a Two dimensional Data Frame

dict1 = {
    "name":["Shaheer", "Mimi", "Mirani", "Aisyah", "Mariyam", "Sarah"],
    "age":[30, 22, 20, 18, 19, 22],
    "city":["Karachi", "London", "Sumatra", "Jakatra", "Paris", "Washington DC"],
}

In [19]:
#Learning bout Two-Dimensional Data Frames
my_mimi = pd.DataFrame(dict1)

In [ ]:
my_mimi

In [ ]:
#Indexs: How to remove the index 
#If you are doing false: It means that you dont want anything
#If you are doing True: It means that you  want anything
my_excel = my_mimi.to_csv("My Beloved Mimi.csv", index = True)
print(my_excel)

In [ ]:
my_mimi.head(3) #This is how i can see the first lines of my data

In [ ]:
#This is how you can see the last lines of your data
my_mimi.tail(3)

In [ ]:
my_mimi.describe()

In [25]:
#Learning bout one-dimensional labeled array holding data type, If I remove np.nan from here the oitput will become int64
number_list = [1, 2, 3, 4, 5, 11, 12, 13, 14, 15]

In [ ]:
#DataFrame and Series
pd.Series(number_list)

In [ ]:
#Using date time index
dates = pd.date_range("20250301", periods=31)

In [ ]:
dates

In [ ]:
#This is how I can change the values of any particular key 
#Getting the dict name, its particular row and the index number
dict1["age"][3] = 21

In [ ]:
pd.DataFrame(dict1)

In [8]:
dict1["city"][1] = "Palembang"

In [ ]:
pd.DataFrame(dict1)

In [10]:
dict1["age"][3] = 19

In [ ]:
pd.DataFrame(dict1)

In [16]:
#How we can change the indexing/index number/row numbers
my_mimi.index = ["a", "b", "c", 'd', "e", "f"]

In [ ]:
my_mimi

In [ ]:
#You can check the datatype like this
type(my_mimi["age"])

In [17]:
new_dataframe = pd.DataFrame(np.random.rand(10, 5), index = np.arange(10))

In [ ]:
new_dataframe

In [ ]:
#So basically, T is the transpose, when you wanna convert rows into column and vice versa 
#So in Transpose: we basically covert Table's rows into column and column into rows 
new_dataframe.T #This is how you can take the transpose of a Table

In [ ]:
new_dataframe.head()

In [ ]:
#Whenever you see "axis" ==> either row or a column
#axis = 0 means that you are targeting the row 
#axis = 1 means that you are targeting the column 

#ascending = false : you are telling that i dont want the ascending order
#descending = false : you are telling that i dont want the descending order

new_dataframe.sort_index(axis=0, ascending=False) #If I do this, it will sort out the data(row, because axis=0) in the descending form

In [ ]:
new_dataframe.sort_index(axis=1, ascending=False)

In [ ]:
# type(new_dataframe[0])
# new_dataframe[3]

new_dataframe

In [12]:
#Learning how to make a copy of a variable and then changing it
new2_dataframe = new_dataframe.copy()

In [ ]:
new2_dataframe[0][0] = "Shaheer Jamal"

In [ ]:
new2_dataframe

In [ ]:
new_dataframe.loc[0, 0] = "Mirani Gita"

In [28]:
new_dataframe.columns = list("ABCDE")

In [ ]:
new_dataframe

In [30]:
new_dataframe.loc[0, 0] = 12345678910

In [ ]:
new_dataframe

In [ ]:
new_dataframe.drop(0, axis = 1)